{
	"semi": true,
	"useTabs": true,
	"tabWidth": 2,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 100,
	"arrowParens": "avoid",
	"bracketSameLine": false,
	"pluginSearchDirs": ["."],
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
