@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* Daisy UI 컬러 */
		--p: 20deg 100% 70%;
		--pf: 20deg 91% 60%;
		--pc: 25deg 100% 94%;
		--s: 163deg 19% 81%;
		--sf: 164deg 15% 74%;
		--sc: 0deg 0% 32%;
		--a: 198deg 93% 60%;
		--af: 198deg 80% 52%;
		--ac: 21deg 100% 94%;
		--n: 343deg 6% 21%;
		--nf: 343deg 6% 21%;
		--nc: 47deg 47% 95%;

		--in: 238deg 83% 52%;
		--inc: 30deg 75% 98%;
		--su: 213deg 97% 86%;
		--suc: 229deg 58% 43%;
		--wa: 354deg 70% 50%;
		--wac: 354deg 60% 96%;
		--er: 360deg 100% 55%;
		--erc: 360deg 100% 92%;
		/* 미지정 */
		--b1: 0deg 0% 100%;
		--b2: 0deg 0% 100%;
		--b3: 0deg 0% 100%;
		--bc: 223deg 9% 72%;
		/* 컬러 */
		--bkg: 49deg 35% 94%;
		--content: 217deg 33% 18%;
		--icon-color: hsl(217, 33%, 18%);
		--border-color: black;
		/* 높이 */
		--h-nav: 3.5rem;
		--h-sticky-header: 2vh;
		/* 넓이 */
		--w-scrollbar: 1px;
		--w-sidebar: 12rem;
		/* 패딩 */
		--p-nav: calc(0.2em + var(--h-nav)) 0.3em;
	}

	:root[data-theme='dark'] {
		--p: 49deg 35% 94%;
		--pf: 47deg 44% 90%;
		--pc: 343deg 6% 21%;

		--b1: 223deg 10% 19%;
		--bc: 0deg 0% 100%;

		--bkg: 220deg 13% 12%;
		--content: 0deg 2% 95%;
		--icon-color: hsl(0, 2%, 95%);
		--border-color: hsla(0, 0%, 90%, 0.801);
	}

	@media (prefers-reduced-motion) {
		body,
		html {
			@apply scroll-auto;
		}
	}

	body {
		@apply overscroll-none bg-bkg text-content;
	}

	::-webkit-scrollbar {
		@apply w-scrollbar;
	}
	::-webkit-scrollbar-track {
		@apply bg-transparent;
	}
	::-webkit-scrollbar-thumb {
		@apply rounded-3xl bg-primary bg-clip-padding;
	}
	::-webkit-scrollbar-thumb:hover {
		@apply bg-accent;
	}
}

@layer components {
}

@font-face {
	font-family: 'Pretendard';
	src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
	font-weight: normal;
	font-display: block;
}

@font-face {
	font-family: 'LINE';
	src: url('/fonts/LINESeedSans_Bd.woff2') format('woff2');
	font-weight: normal;
	font-display: block;
}

@font-face {
	font-family: 'Basis';
	src: url('/fonts/Basis.woff2') format('woff2');
	font-weight: normal;
	font-display: block;
}
